.order-bg {
  background-image: url("/public/images/Imagebg.jpg");
  display: flex;
  flex-direction: column;

  align-items: center;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 30%;
  height: 299px;
}
.order-bg h1 {
  font-size: 48px;
  line-height: 54px;
}
