.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 140px;
  height: 40px;
  color: white;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  border-radius: 8px;
  border: none;
}
.btn:hover,
.btn:active {
  background: #f172281a;
  color: #f17228;
}
.btn:focus {
  outline: none;
}
