.social-icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.input-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 0px 8px 16px;
  gap: 10px;

  width: 334px;
  height: 60px;
}

.txt-fild,
.mail-icon {
  background-color: #424242;
  height: 33px;
  border: none;
}

.mail-box {
  background-color: #424242;
  border-radius: 8px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 453px;
  height: 49px;
  color: #adadad;
}
